[Unit]
Description=FirstTryBot

[Service]
ExecStart=nohup java -jar /root/FirstTryBot/FirstTryBot.jar &
Restart=always

[Install]
WantedBy=multi-user.target